<div class="payment-accordian-card">
                        <div class="accordian">
                            <button class="title acc-trigger on" aria-expanded="true" type="button">데이터 제로/통화 전용</button>
                            <div class="acc-conts" style="display: block;" aria-hidden="false">
                                <section class="acc-conts-wrap">
                                	<div class="recmend-fee">
	                                    <ul class="fee-list acc-pay-list">
                                			
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                         
				                                        <li>
															<!-- 240613[관심 요금제 알림 신청 기능]  -->
															<div class="compare-box">
																<button type="button" data-hp-ppn-seq="531" data-ppn-cd="LPZ1004396" data-up-ppn-cd="H_DATA0GB" data-dev-kd-cd="001" onclick="$pricComparePopCmm.fnAddCompareWish(this);">
																	<span>비교하기</span>
																</button>
															</div>
															<!-- //240613[관심 요금제 알림 신청 기능]  -->
			                                                <a href="javascript:;" ctgrid="001" seq="531" upppncd="H_DATA0GB" onclick="$pcPhonePricList.fnMoveDetail(this.getAttribute('ctgrId'), this.getAttribute('seq'), this.getAttribute('upPpnCd'));">
			                                                    
			
				                                                <strong class="fee-tit" data-seq="001||137" data-gtm-tracking-label="[휴대폰] 데이터차단 (0GB/통화기본)"> [휴대폰] 데이터차단 (0GB/통화기본)
								                                    <!-- <span class="bge"><img src="/assets/images/pc/subpage/img-fee-badge.gif" alt="이달의 혜택"></span> -->
		                                                        	<span class="bge">
									                                	
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                                <img src="/upload/ppn/img/디지털 디톡스.png" alt="디지털 디톡스">
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
		                                                            </span>
								                                </strong>
								                                
								                                <div class="pay-amount">
								                                    
								                                    
								                                        <span class="discount-pay">24,900원</span>
								                                    
								                                    
								                                </div>
								                                
								                                <div class="feature">
								                                    <span class="vol">미제공</span>
								                                    <span class="limit">기본제공</span>
								                                    <span class="supply">기본제공</span>
								                                </div>
			
			                                                    <ul class="notification">
								                                                                       
								                                </ul>
			                                                </a>
			                                			</li>
			                                        
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                </th:block> -->
                                		</ul>
                                	</div>
                               	</section>
                            </div>
                        </div>
                    </div>