<div class="payment-accordian-card">
                        <div class="accordian">
                            <button class="title acc-trigger on" aria-expanded="true" type="button">초알뜰 갓성비</button>
                            <div class="acc-conts" style="display: block;" aria-hidden="false">
                                <section class="acc-conts-wrap">
                                	<div class="recmend-fee">
	                                    <ul class="fee-list acc-pay-list">
                                			
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                         
				                                        <li>
															<!-- 240613[관심 요금제 알림 신청 기능]  -->
															<div class="compare-box">
																<button type="button" data-hp-ppn-seq="361" data-ppn-cd="LPZ0019038" data-up-ppn-cd="H006" data-dev-kd-cd="001" onclick="$pricComparePopCmm.fnAddCompareWish(this);">
																	<span>비교하기</span>
																</button>
															</div>
															<!-- //240613[관심 요금제 알림 신청 기능]  -->
			                                                <a href="javascript:;" ctgrid="001" seq="361" upppncd="H006" onclick="$pcPhonePricList.fnMoveDetail(this.getAttribute('ctgrId'), this.getAttribute('seq'), this.getAttribute('upPpnCd'));">
			                                                    
			
				                                                <strong class="fee-tit" data-seq="001||97" data-gtm-tracking-label="[휴대폰] LTE (4GB/200분)"> [휴대폰] LTE (4GB/200분)
								                                    <!-- <span class="bge"><img src="/assets/images/pc/subpage/img-fee-badge.gif" alt="이달의 혜택"></span> -->
		                                                        	<span class="bge">
									                                	
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
		                                                            </span>
								                                </strong>
								                                
								                                <div class="pay-amount">
								                                    
								                                    
								                                        <span class="discount-pay">29,900원</span>
								                                    
								                                    
								                                </div>
								                                
								                                <div class="feature">
								                                    <span class="vol">4GB</span>
								                                    <span class="limit">200분</span>
								                                    <span class="supply">100건</span>
								                                </div>
			
			                                                    <ul class="notification">
								                                                                       
								                                </ul>
			                                                </a>
			                                			</li>
			                                        
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                         
				                                        <li>
															<!-- 240613[관심 요금제 알림 신청 기능]  -->
															<div class="compare-box">
																<button type="button" data-hp-ppn-seq="362" data-ppn-cd="LPZ0019033" data-up-ppn-cd="H005" data-dev-kd-cd="001" onclick="$pricComparePopCmm.fnAddCompareWish(this);">
																	<span>비교하기</span>
																</button>
															</div>
															<!-- //240613[관심 요금제 알림 신청 기능]  -->
			                                                <a href="javascript:;" ctgrid="001" seq="362" upppncd="H005" onclick="$pcPhonePricList.fnMoveDetail(this.getAttribute('ctgrId'), this.getAttribute('seq'), this.getAttribute('upPpnCd'));">
			                                                    
			
				                                                <strong class="fee-tit" data-seq="001||96" data-gtm-tracking-label="[휴대폰] LTE (2GB/120분)"> [휴대폰] LTE (2GB/120분)
								                                    <!-- <span class="bge"><img src="/assets/images/pc/subpage/img-fee-badge.gif" alt="이달의 혜택"></span> -->
		                                                        	<span class="bge">
									                                	
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
				                                                            
				                                                        
		                                                            </span>
								                                </strong>
								                                
								                                <div class="pay-amount">
								                                    
								                                        <span class="origin-pay">20,900원</span>
								                                        <strong class="discount-pay">19,000원</strong>
								                                    
								                                    
								                                    
								                                </div>
								                                
								                                <div class="feature">
								                                    <span class="vol">2GB</span>
								                                    <span class="limit">120분</span>
								                                    <span class="supply">100건</span>
								                                </div>
			
			                                                    <ul class="notification">
								                                                                       
								                                </ul>
			                                                </a>
			                                			</li>
			                                        
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                    <th:block th:each="item, itex : ${result.value}"> -->
			                                      
			                                    
<!-- 			                                </th:block> -->
                                		</ul>
                                	</div>
                               	</section>
                            </div>
                        </div>
                    </div>